* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.maincont {
    background-color: rgb(245, 245, 245);
    padding: 1%;
    display: flex;
    box-shadow: 0px 2px 2px 3px rgb(235, 233, 233);
}

.mainbox {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.nav-desing {
    background: rgb(92, 175, 114);
    background: linear-gradient(90deg, rgba(92, 175, 114, 1) 34%, rgba(82, 174, 156, 1) 100%);
}

.nav-desing p {
    color: white !important;
    margin-left: 12px;
    position: relative;
    top: 30%;
}

.logout img {
    height: 25px;
    margin-top: 9px;
    filter: invert();
}

.item-log {
    display: flex;
}

.social-img {
    height: 40px;
    margin-left: 3%;
}

.redes-sociales {
    text-align: center;
}

.footer-desing {
    background: rgb(92, 175, 114);
    background: linear-gradient(90deg, rgba(92, 175, 114, 1) 0%, rgba(82, 174, 170, 1) 100%);
}

.social-title {
    margin-left: 3%;
}

.derechos p {
    font-size: large;
}

.wave-desing {
    position: relative;
    top: -48px;
}

.resultbox {
    text-align: center;
}

footer {
    position: absolute;
    top: 41.79%;
    width: 100%;
}